<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css" >
    <title>Tartan Stovies</title>  

    <div class="headerNav">
        <ul>
            <li><a class="active" href="/"/>Home</a></li>
            <li><a href="/hotels">Hotels</a></li>
            <li><a href="/equipment">Equipment</a></li>
            <li><a href="/tech">Tech</a></li>
            <li><a href="/holiday"/>Holiday Generator</a><li>
        </ul>
    </div>
    </head>
</html>