<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css" >
    <title>Tartan Travel</title>  

    <div class="headerNav">
        <ul>
            <li><a href="/"/>Home</a></li>
            <div class="navDropdown">
                    <button class="dropbtn">Reviews
                    <i class="fa fa-caret-down"></i>
                    </button>
                <div class="dropdown-content">
                    <a href="#">Hotels</a>
                    <a href="#">Equipment</a>
                    <a href="#">Tech</a>
                </div>
            </div>
            <li><a href="/reviews"/>Reviews</a></li>
            <li><a href="/holiday"/>Holiday Generator</a></li>
        </ul>
    </div>

    </head>
</html>