<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    <h1>Asia</h1>

    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>

    <h1>{{asiaCountries}}</h1>

    {{#countries}}
    <div>
        <h4>{{country}}</h4>
    </div>
    {{/countries}}

    <br>

     {{>countryList}}
</body>
</html>