<!DOCTYPE html>
<html lang="en">
<head>

   
  </head>
<body>
{{>header}}

    <h1 id="tt">Tartan Travel</h1>
    <br>
    <div><img src="/img/Norton.jpg"></div>

  <p>Welcome to my website, this will be decicated to reviwing hotels accross the world</p>
  <br>
  <div><img src="/img/MacbookPic.png"></div>

  <h1> {{title}}</h1>
<h2 style="color:blue;">A Blue Heading</h2>
  
</body>
</html>