<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
   <div class="topnav">
    <a class="active" href="/europe">Europe</a>
    <a href="/asia" href="/asia">Asia</a>
    <a href="/holiday" href="/holiday">Random Holiday Generator</a>
    <a href="/asia" href="/asia">Asia</a>
   </div>
   
   <head>{{>header}}</head>
    <h1 id="tt">Tartan Travel</h1>
    <br>
    <img src="/public/img/Norton.jpg">
  <p>Welcome to my website, this will be decicated to reviwing hotels accross the world</p>

  <h1> {{title}}</h1>

  
</body>
</html>