<!DOCTYPE html>
<html lang="en">
<head>

   
  </head>
<body>
{{>partials/header}}

    <h1 id="tt">Tartan Stovies</h1>
    <br>
    <div><img src="/img/Hotels/Thailand/Bangkok/LeeGardenBangkok/lg1.jpg"></div>

  <p>Welcome to my website, this will be decicated to reviwing hotels accross the world</p>
  <br>
  <div><img src="/img/MacbookPic.png"></div>

  <h1> {{title}}</h1>


  {{>partials/footer}}
</body>
</html>