body {
    background-color: rgb(230, 176, 198);
    border: 2px solid #1c6eaf;
    margin: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px
}
h1 {
    background-color: blue;
    text-align: center;
}
.headerNav ul {
    list-style: none;
    background-color: rgb(78, 77, 77);
    padding: 0%;
    margin: 0;
    overflow: hidden;
    
}
.headerNav li {
    float: left;
}
.headerNav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.headerNav a:hover {
    background-color: #f1f1f1;
    color:black;
}

.reviewNav {
    height: 220px;
    width: 80px;
}

.reviewNav ul{
    border: 1px solid #555;
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
}

.reviewNav li {
    text-align: center;
    border-bottom: 1px solid #555;
}

.reviewNav li:hover {
    text-align: center;
    border-bottom: 1px solid #555;
}
img {
    border:10px solid;
    border-radius: 50%;
    border-color: black;
    width: 100px;
    height: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(78, 77, 77);
    text-align: center;
}

.footer a {
    
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: left;
}

.footer a:hover {
    background-color: #f1f1f1;
    color:black;
}