body {
    background-color: rgb(230, 176, 198);
    border: 2px solid #1c6eaf;
}

h1 {
    background-color: blue;
}
.topnav{
    background-color: red;
    font-weight: bold;
    padding-top: 13px;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
}

.headerNav {
    background-color: rgb(102, 0, 255);
    font-weight: bold;
    padding-top: 13px;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
}

.reviewNav {
    height: 220px;
    width: 80px;
}

.reviewNav ul{
    border: 1px solid #555;
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
}

.reviewNav li {
    text-align: center;
    border-bottom: 1px solid #555;
}

.reviewNav li:hover {
    text-align: center;
    border-bottom: 1px solid #555;
}
img {
    border:10px solid;
    border-radius: 50%;
    border-color: black;
    width: 100px;
    height: 100px;
}

.footer {
    border: 1px solid #080707;
    background-color: #f1f1f1;
}